<h1>sign up page</h1>

<form action="signup_form" method="post" id="signup_form">
  <input type="text" name="name" id="name" placeholder="first & last name"><br>
  <input type="text" name="email" placeholder="email"><br>
  <input type="text" name="password" placeholder="password"><br>
  <input type="text" name="password_confirmation" placeholder="password confirmation"><br>
</form>

<button type="submit" form="signup_form" value="Submit">Submit</button>