@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:100);

/* line 8, ../sass/main.scss */
.cf:before, .game:before,
.cf:after,
.game:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 13, ../sass/main.scss */
.cf:after, .game:after {
  clear: both;
}

/* line 18, ../sass/main.scss */
#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}

/* line 29, ../sass/main.scss */
body {
  margin: 0;
  font: 400 1.25em/1.5 "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #34495e;
  color: white;
}

/* line 35, ../sass/main.scss */
.main-container {
  width: 730px;
  margin: 0 auto;
  padding-top: 200px;
}

/* line 41, ../sass/main.scss */
.homepage-container {
  width: 350px;
  float: left;
  text-align: center;
  position: relative;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
  left: 200px;
}
/* line 50, ../sass/main.scss */
.homepage-container.with-form {
  left: 0;
}

/* line 55, ../sass/main.scss */
.homepage-about {
  font: 400 1.2em/1.5 "Open Sans", sans-serif;
  color: #fff;
}

/* line 60, ../sass/main.scss */
.logo {
  text-indent: -999999px;
  background: url("../img/logo-white.png") center no-repeat;
  background-size: 100%;
  display: inline-block;
  padding: 20px;
  height: 106px;
  width: 106px;
}

/* line 68, ../sass/main.scss */
.header-logo {
  display: inline;
}

/* line 72, ../sass/main.scss */
.account-dropdown {
  color: white;
  float: right;
}

/* line 77, ../sass/main.scss */
.account-name {
  font: 400 1.2em/1 "Open Sans", sans-serif;
  margin: 15px;
  display: inline-block;
  float: right;
}



/* line 104, ../sass/main.scss */
.error-message {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #ea6060;
  color: #6f0f0f;
  font-style: italic;
  padding: .6em;
  font-size: 17px;
  display: none;
}

/* line 116, ../sass/main.scss */
button {
  display: inline-block;
  -webkit-appearance: none;
  padding: 1em 1.3em;
  margin: 0 10px;
  font: 700 18px/1 "Open Sans", sans-serif;
  letter-spacing: 1px;
  border: none;
  color: white;
  position: relative;
}

/* line 128, ../sass/main.scss */
button:not(.facebook) {
  background-color: #4783c4;
  box-shadow: 0px 6px #28517d;
  border-radius: 5px;
  text-transform: uppercase;
}
/* line 134, ../sass/main.scss */
button:not(.facebook).blue {
  background-color: #4783c4;
  box-shadow: 0px 6px #28517d;
}
/* line 138, ../sass/main.scss */
button:not(.facebook).green {
  background-color: #4ed198;
  box-shadow: 0px 6px #269364;
}
/* line 142, ../sass/main.scss */
button:not(.facebook).green.disabled {
  background-color: transparent;
  border: 1px solid #4ed198;
  color: #4ed198;
}
/* line 148, ../sass/main.scss */
button:not(.facebook).red {
  background-color: #ea6060;
  box-shadow: 0px 6px #c91b1b;
}
/* line 152, ../sass/main.scss */
button:not(.facebook).red.disabled {
  background-color: transparent;
  border: 1px solid #ea6060;
  color: #ea6060;
}
/* line 160, ../sass/main.scss */
button:not(.facebook):active, button:not(.facebook).pressed, .game.voted button:not(.facebook) {
  top: 6px;
  box-shadow: none;
}

/* line 166, ../sass/main.scss */
button.form-button {
  padding: 0;
}

/* line 170, ../sass/main.scss */
button.facebook {
  font: 400 16px/1 "Open Sans", sans-serif;
  margin: 30px auto;
  padding-left: 70px;
  background: #3b5998 url("../fb-icon.png") left no-repeat;
}

/* line 178, ../sass/main.scss */
.login-form,
.signup-form {
  width: 300px;
  float: right;
  text-align: center;
  position: relative;
  -webkit-transition: top 0.2s, opacity 0.2s;
  transition: top 0.2s, opacity 0.2s;
  top: 0;
  opacity: 1;
  display: none;
}
/* line 189, ../sass/main.scss */
.login-form.hidden,
.signup-form.hidden {
  opacity: 0;
  top: 30px;
}

/* line 195, ../sass/main.scss */
.text-input {
  border-radius: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: none;
  -webkit-appearance: none;
  background-color: #ddd;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  padding: .6em;
  display: block;
  width: 100%;
  margin: 15px 0;
}
/* line 210, ../sass/main.scss */
button > .text-input {
  margin: 0;
}

.lr-error {
  color: rgb(253, 247, 255);
  text-align: center;
  font-style: italic;
  font-size: 20px;
  font-weight: 200;
}

#alertDiv {
  margin-bottom: 30px;
}