<div class="container">
		<div class="top">
			<h1 id="title" class="hidden"><span id="logo">CPSC113 <span>Todo</span></span></h1>
		</div>

		{{#if errors}}
        <div class="row">
          <div class="alert alert-warning validation-error ">
              <h1>{{errors}}</h1> 
          </div>
         </div>
        {{/if}}
        {{#if true}}
        	<h1>TRUEEE</h1>
        {{/if}}

		{{#if currentUser}}
      	<div>
        	<p> Welcome, <b>{{currentUser.name}}</b></p><br>
      	</div>
      	<p>Show tasks here!</p>

      	<div class="row">
			<div class="col-md-6">
				<form action="/user/login" method="post" id="login_form">
					<div class="login-box animated fadeInDown" >
						<div class="box-header">
							<h2>Log In</h2>
						
						
					</div>
				</form>
			</div>
			<div class="col-md-6">
				<form action="/user/register" method="post" id="register_form">
					<div class="login-box animated fadeInDown">
						<div class="box-header">
							<h2>Sign Up</h2>
						</div>
						
						
					</div>
				</form>
			</div>
		</div>



      	{{else}}
		<div class="row">
			<div class="col-md-6">
				<form action="/user/login" method="post" id="login_form">
					<div class="login-box animated fadeInDown" >
						<div class="box-header">
							<h2>Log In</h2>
						</div>
						<label for="email">Email</label>
						<br/>
						<input name="email"  type="email" class="text-input" placeholder="email">
						<br/>
						<label for="password">Password</label>
						<br/>
						<input name="password" type="password" class="text-input" placeholder="password">
						<br/>
						<button type="submit">Log In</button>
						<br/>
						
					</div>
				</form>
			</div>
			<div class="col-md-6">
				<form action="/user/register" method="POST" id="register_form">
					<div class="login-box animated fadeInDown">
						<div class="box-header">
							<h2>Sign Up</h2>
						</div>
						<label for="fl_name">First and Last Name</label>
						<br/>
						<input name="fl_name" type="text" class="text-input" placeholder="first &amp; last name">
						<br/>
						<label for="email">Email</label>
						<br/>
						<input name="email" type="email" class="text-input" placeholder="email">
						<br/>
						<label for="password">Password</label>
						<br/>
						<input name="password" type="password" class="text-input" placeholder="password">
						<br/>
						<label for="password_confirmation">Password Confirmation</label>
						<br/>
						<input name="password_confirmation" type="password" class="text-input" placeholder="password confirmation">
						<br/>
						<button type="submit">Sign Up</button>
						<br/>
						
					</div>
				</form>
			</div>
		</div>
		{{/if}}
		<div class="row" style:"min-height:20%">
			<br>
			<br>
			<br>
			<br>
		</div>
	</div>